//! **************************************************************************
// Written by: Map P.20131013 on Mon Nov 11 16:24:15 2024
//! **************************************************************************

SCHEMATIC START;
COMP "LED<0>" LOCATE = SITE "P82" LEVEL 1;
COMP "LED<1>" LOCATE = SITE "P81" LEVEL 1;
COMP "LED<2>" LOCATE = SITE "P80" LEVEL 1;
COMP "LED<3>" LOCATE = SITE "P79" LEVEL 1;
COMP "BTN1" LOCATE = SITE "P45" LEVEL 1;
PIN BTN1_pin<0> = BEL "BTN1" PINNAME PAD;
PIN "BTN1_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "LED7" LOCATE = SITE "P67" LEVEL 1;
SCHEMATIC END;

