CONFIG VCCAUX  = 3.3;

NET "OSC" LOC = P123;

NET "BTN1" LOC = P45;
NET "BTN2" LOC = P46;
NET "BTN3" LOC = P47;

NET "K1_1" LOC = P23;
NET "K1_3" LOC = P21;

NET "DIP[7]" LOC = P112;
NET "DIP[6]" LOC = P111;
NET "DIP[5]" LOC = P105;
NET "DIP[4]" LOC = P104;
NET "DIP[3]" LOC = P102;
NET "DIP[2]" LOC = P101;
NET "DIP[1]" LOC = P100;
NET "DIP[0]" LOC = P99;

NET "SW[7]" LOC = P55;
NET "SW[6]" LOC = P56;
NET "SW[5]" LOC = P57;
NET "SW[4]" LOC = P58;
NET "SW[3]" LOC = P59;
NET "SW[2]" LOC = P61;
NET "SW[1]" LOC = P62;
NET "SW[0]" LOC = P66;

NET "K4[7]" LOC = P2;
NET "K4[6]" LOC = P143;
NET "K4[5]" LOC = P141;
NET "K4[4]" LOC = P139;
NET "K4[3]" LOC = P137;
NET "K4[2]" LOC = P133;
NET "K4[1]" LOC = P131;
NET "K4[0]" LOC = P126;

NET "K3[7]" LOC = P1;
NET "K3[6]" LOC = P142;
NET "K3[5]" LOC = P140;
NET "K3[4]" LOC = P138;
NET "K3[3]" LOC = P134;
NET "K3[2]" LOC = P132;
NET "K3[1]" LOC = P127;
NET "K3[0]" LOC = P124;

NET "K2[7]" LOC = P24;
NET "K2[6]" LOC = P22;
NET "K2[5]" LOC = P17;
NET "K2[4]" LOC = P15;
NET "K2[3]" LOC = P12;
NET "K2[2]" LOC = P10;
NET "K2[1]" LOC = P8;
NET "K2[0]" LOC = P6;

NET "K5_1" LOC = P121;
NET "K5_5" LOC = P119;
NET "K5_9" LOC = P117;
NET "K5_13" LOC = P115;

NET "LED[7]" LOC = P67;
NET "LED[6]" LOC = P74;
NET "LED[5]" LOC = P75;
NET "LED[4]" LOC = P78;
NET "LED[3]" LOC = P79;
NET "LED[2]" LOC = P80;
NET "LED[1]" LOC = P81;
NET "LED[0]" LOC = P82;

NET "MN[7]" LOC = P84;
NET "MN[6]" LOC = P85;
NET "MN[5]" LOC = P87;
NET "MN[4]" LOC = P88;
NET "MN[3]" LOC = P92;
NET "MN[2]" LOC = P93;
NET "MN[1]" LOC = P94;
NET "MN[0]" LOC = P95;

NET "SSD_Segment[7]" LOC = P26;
NET "SSD_Segment[6]" LOC = P27;
NET "SSD_Segment[5]" LOC = P29;
NET "SSD_Segment[4]" LOC = P32;
NET "SSD_Segment[3]" LOC = P34;
NET "SSD_Segment[2]" LOC = P35;
NET "SSD_Segment[1]" LOC = P40;
NET "SSD_Segment[0]" LOC = P41;

NET "SSD_COM[3]" LOC = P30;
NET "SSD_COM[2]" LOC = P33;
NET "SSD_COM[1]" LOC = P43;
NET "SSD_COM[0]" LOC = P44;

NET "OSC" IOSTANDARD = LVCMOS33;

NET "BTN1" IOSTANDARD = LVCMOS33;
NET "BTN2" IOSTANDARD = LVCMOS33;
NET "BTN3" IOSTANDARD = LVCMOS33;

NET "K1_1" IOSTANDARD = LVCMOS33;
NET "K1_3" IOSTANDARD = LVCMOS33;

NET "DIP[7]" IOSTANDARD = LVCMOS33;
NET "DIP[6]" IOSTANDARD = LVCMOS33;
NET "DIP[5]" IOSTANDARD = LVCMOS33;
NET "DIP[4]" IOSTANDARD = LVCMOS33;
NET "DIP[3]" IOSTANDARD = LVCMOS33;
NET "DIP[2]" IOSTANDARD = LVCMOS33;
NET "DIP[1]" IOSTANDARD = LVCMOS33;
NET "DIP[0]" IOSTANDARD = LVCMOS33;

NET "SW[7]" IOSTANDARD = LVCMOS33;
NET "SW[6]" IOSTANDARD = LVCMOS33;
NET "SW[5]" IOSTANDARD = LVCMOS33;
NET "SW[4]" IOSTANDARD = LVCMOS33;
NET "SW[3]" IOSTANDARD = LVCMOS33;
NET "SW[2]" IOSTANDARD = LVCMOS33;
NET "SW[1]" IOSTANDARD = LVCMOS33;
NET "SW[0]" IOSTANDARD = LVCMOS33;

NET "K4[7]" IOSTANDARD = LVCMOS33;
NET "K4[6]" IOSTANDARD = LVCMOS33;
NET "K4[5]" IOSTANDARD = LVCMOS33;
NET "K4[4]" IOSTANDARD = LVCMOS33;
NET "K4[3]" IOSTANDARD = LVCMOS33;
NET "K4[2]" IOSTANDARD = LVCMOS33;
NET "K4[1]" IOSTANDARD = LVCMOS33;
NET "K4[0]" IOSTANDARD = LVCMOS33;

NET "K3[7]" IOSTANDARD = LVCMOS33;
NET "K3[6]" IOSTANDARD = LVCMOS33;
NET "K3[5]" IOSTANDARD = LVCMOS33;
NET "K3[4]" IOSTANDARD = LVCMOS33;
NET "K3[3]" IOSTANDARD = LVCMOS33;
NET "K3[2]" IOSTANDARD = LVCMOS33;
NET "K3[1]" IOSTANDARD = LVCMOS33;
NET "K3[0]" IOSTANDARD = LVCMOS33;

NET "K2[7]" IOSTANDARD = LVCMOS33;
NET "K2[6]" IOSTANDARD = LVCMOS33;
NET "K2[5]" IOSTANDARD = LVCMOS33;
NET "K2[4]" IOSTANDARD = LVCMOS33;
NET "K2[3]" IOSTANDARD = LVCMOS33;
NET "K2[2]" IOSTANDARD = LVCMOS33;
NET "K2[1]" IOSTANDARD = LVCMOS33;
NET "K2[0]" IOSTANDARD = LVCMOS33;

NET "K5_1" IOSTANDARD = LVDS_33;
NET "K5_5" IOSTANDARD = LVDS_33;
NET "K5_9" IOSTANDARD = LVDS_33;
NET "K5_13" IOSTANDARD = LVDS_33;

NET "LED[7]" IOSTANDARD = LVCMOS33;
NET "LED[6]" IOSTANDARD = LVCMOS33;
NET "LED[5]" IOSTANDARD = LVCMOS33;
NET "LED[4]" IOSTANDARD = LVCMOS33;
NET "LED[3]" IOSTANDARD = LVCMOS33;
NET "LED[2]" IOSTANDARD = LVCMOS33;
NET "LED[1]" IOSTANDARD = LVCMOS33;
NET "LED[0]" IOSTANDARD = LVCMOS33;

NET "MN[7]" IOSTANDARD = LVCMOS33;
NET "MN[6]" IOSTANDARD = LVCMOS33;
NET "MN[5]" IOSTANDARD = LVCMOS33;
NET "MN[4]" IOSTANDARD = LVCMOS33;
NET "MN[3]" IOSTANDARD = LVCMOS33;
NET "MN[2]" IOSTANDARD = LVCMOS33;
NET "MN[1]" IOSTANDARD = LVCMOS33;
NET "MN[0]" IOSTANDARD = LVCMOS33;

NET "SSD_Segment[7]" IOSTANDARD = LVCMOS33;
NET "SSD_Segment[6]" IOSTANDARD = LVCMOS33;
NET "SSD_Segment[5]" IOSTANDARD = LVCMOS33;
NET "SSD_Segment[4]" IOSTANDARD = LVCMOS33;
NET "SSD_Segment[3]" IOSTANDARD = LVCMOS33;
NET "SSD_Segment[2]" IOSTANDARD = LVCMOS33;
NET "SSD_Segment[1]" IOSTANDARD = LVCMOS33;
NET "SSD_Segment[0]" IOSTANDARD = LVCMOS33;

NET "SSD_COM[3]" IOSTANDARD = LVCMOS33;
NET "SSD_COM[2]" IOSTANDARD = LVCMOS33;
NET "SSD_COM[1]" IOSTANDARD = LVCMOS33;
NET "SSD_COM[0]" IOSTANDARD = LVCMOS33;


NET "OSC" TNM_NET = "OSC";
TIMESPEC "TS_OSC" = PERIOD "OSC" 50 ns HIGH 50%;

NET "K1_1" MAXDELAY = 3 ns;
NET "K1_3" MAXDELAY = 3 ns;

NET "K5_13" OFFSET = OUT 7.55 ns AFTER "OSC" RISING;
NET "K5_9" OFFSET = OUT 7.55 ns AFTER "OSC" RISING;
NET "K5_5" OFFSET = OUT 7.55 ns AFTER "OSC" RISING;
NET "K5_1" OFFSET = OUT 7.55 ns AFTER "OSC" RISING;
