CONFIG VCCAUX  = 3.3;

NET "OSC" LOC = P123;

NET "BTN1" LOC = P45;
NET "BTN2" LOC = P46;
NET "BTN3" LOC = P47;
NET "BTN4" LOC = P48;
NET "BTN5" LOC = P51;
NET "BTN6" LOC = P55;

NET "DIP1" LOC = P112;
NET "DIP8" LOC = P99;

NET "K1_1" LOC = P23;
NET "K1_3" LOC = P21;

NET "OSC" IOSTANDARD = LVCMOS33;

NET "BTN1" IOSTANDARD = LVCMOS33;
NET "BTN2" IOSTANDARD = LVCMOS33;
NET "BTN3" IOSTANDARD = LVCMOS33;
NET "BTN4" IOSTANDARD = LVCMOS33;
NET "BTN5" IOSTANDARD = LVCMOS33;
NET "BTN6" IOSTANDARD = LVCMOS33;

NET "DIP1" IOSTANDARD = LVCMOS33;
NET "DIP8" IOSTANDARD = LVCMOS33;

NET "K1_1" IOSTANDARD = LVCMOS33;
NET "K1_3" IOSTANDARD = LVCMOS33;

NET "K1_1" SLEW = FAST;
NET "K1_3" SLEW = FAST;

NET "K1_3" OUT_TERM = UNTUNED_50;
NET "K1_1" OUT_TERM = UNTUNED_50;


NET "OSC" TNM_NET = "OSC";
TIMESPEC TS_OSC = PERIOD "OSC" 50 ns HIGH 50 %;

NET "K1_1" OFFSET = OUT 12 ns AFTER "OSC" RISING;
NET "K1_3" OFFSET = OUT 12 ns AFTER "OSC" RISING;
