//! **************************************************************************
// Written by: Map P.20131013 on Mon Nov 11 02:17:40 2024
//! **************************************************************************

SCHEMATIC START;
CONFIG VCCAUX = "3.3";
COMP "K1_1" LOCATE = SITE "P23" LEVEL 1;
COMP "K1_3" LOCATE = SITE "P21" LEVEL 1;
COMP "DIP1" LOCATE = SITE "P112" LEVEL 1;
COMP "DIP8" LOCATE = SITE "P99" LEVEL 1;
COMP "OSC" LOCATE = SITE "P123" LEVEL 1;
COMP "BTN1" LOCATE = SITE "P45" LEVEL 1;
COMP "BTN2" LOCATE = SITE "P46" LEVEL 1;
COMP "BTN3" LOCATE = SITE "P47" LEVEL 1;
COMP "BTN4" LOCATE = SITE "P48" LEVEL 1;
COMP "BTN5" LOCATE = SITE "P51" LEVEL 1;
COMP "BTN6" LOCATE = SITE "P55" LEVEL 1;
TIMEGRP OSC = BEL "XLXI_114/XLXI_176" BEL "XLXI_114/XLXI_175" BEL
        "XLXI_114/XLXI_121" BEL "XLXI_114/XLXI_120" BEL "XLXI_114/XLXI_119"
        BEL "XLXI_114/XLXI_114" BEL "XLXI_114/XLXI_69" BEL "XLXI_114/XLXI_27"
        BEL "XLXI_114/XLXI_25" BEL "XLXI_114/XLXI_23" BEL "XLXI_114/XLXI_21"
        BEL "XLXI_114/XLXI_19" BEL "XLXI_114/XLXI_17" BEL
        "XLXI_114/XLXI_75/q_tmp" BEL "OSC_BUFGP/BUFG";
TS_OSC = PERIOD TIMEGRP "OSC" 50 ns HIGH 50%;
COMP "K1_1" OFFSET = OUT 12 ns AFTER COMP "OSC" "RISING";
COMP "K1_3" OFFSET = OUT 12 ns AFTER COMP "OSC" "RISING";
SCHEMATIC END;

